.clearer{:style=>"clear:both"}

.column{:style=>"width:600px;"}
  %div{:style=>"margin-top:20px;"}
    Wordlings was created by
    %a{:href=>"http://twitter.com/petewarden/"}Pete Warden
    , and inspired by 
    %a{:href=>"http://wordle.net/"}the wonderful and pioneering work of Jonathan Feinberg. 

  %div{:style=>"margin-top:20px;"}
    A spinoff of the
    %a{:href=>"http://www.openheatmap.com/"}OpenHeatMap project
    , it came out of work to fit text clouds inside irregular shapes like country boundaries, using modern client-side technologies. The rendering code is available as a Javascript library under the GPL
    %a{:href=>"http://github.com/petewarden/openwordcloud"}on GitHub.
  %div{:style=>"margin-top:20px;"}

  %h2 Contact
  %div{:style=>"margin-top:20px;"}
    If you have any questions, comments, or suggestions, 
    %a{:href=>"mailto:pete@petewarden.com"}email Pete
