.clearer{:style=>"clear:both"}

.column{:style=>"width:600px;"}
  %div{:style=>"margin-top:20px;"}
    :markdown
    
      A collection of the best open data sets and open-source tools for data science, wrapped in an easy-to-use REST/JSON API with [command line](http://www.datasciencetoolkit.org/developerdocs#commandline), [Python](http://www.datasciencetoolkit.org/developerdocs#python) and [Javascript](http://www.datasciencetoolkit.org/developerdocs#javascript) interfaces. Available as a [self-contained VM](http://www.datasciencetoolkit.org/developerdocs#vmware) or [EC2 AMI](http://www.datasciencetoolkit.org/developerdocs#amazon) that you can deploy yourself.
    
    The Data Science Toolkit was assembled by [Pete Warden](http://twitter.com/petewarden/) and the source code is available at [http://github.com/petewarden/geodictapi](http://github.com/petewarden/datasciencetoolkit)

    Country boundaries by [Thematic Mapping](http://thematicmapping.org).
      
    Contains Ordnance Survey data [© Crown copyright and database right 2010](http://www.ordnancesurvey.co.uk/oswebsite/opendata/licence/index.html).
      
    Irish boundaries by [Ben Raue](http://www.tallyroom.com.au/maps).
      
    New Zealand boundaries from [Statistics NZ](http://www.stats.govt.nz).
      
    Worldwide states and provinces from [Natural Earth](http://naturalearthdata.com).
      
    Using geocoding code from [Schuyler Erle](https://github.com/geocommons/geocoder).
      
    US neighborhood boundaries provided by [Zillow](http://www.zillow.com/howto/api/neighborhood-boundaries.htm) under a CC-SLA license.

    This product includes GeoLite data created by MaxMind, available from [http://www.maxmind.com/](http://www.maxmind.com/).

    The [OpenStreetMap](http://openstreetmap.org) and [PostGIS](http://postgis.refractions.net/) projects have also provided some fantastic tools.

    If you have any questions, comments, or suggestions, [email Pete](mailto:pete@petewarden.com)
