.clearer{:style=>"clear:both"}

.column{:style=>"width:600px;"}
  %div{:style=>"margin-top:20px;"}
    :markdown
      GeodictAPI was created by [Pete Warden](http://twitter.com/petewarden/) and the source code is available at [http://github.com/petewarden/geodictapi](http://github.com/petewarden/geodictapi)

      If you have any questions, comments, or suggestions, [email Pete](mailto:pete@petewarden.com)
